extends layout

block content
  div.content.clearfix
    section.left
      h1 blog
        p Een keer per week het uitlichten van een sieraad, waarom vind ik het een interessant, mooi werk?
        p Mail sturen naar betreffende ontwerper, linken.
        p Mei - juli 2013, sieraden uit series Puur en Met Hout te zien bij de Zilverfabriek te Leiden
    section.middle
    
    section.right
    
  