extends layout

block content
  div.content.clearfix
    section.left
      h1 contact
      p Als u een afspraak wilt maken voor een opdracht of andere vragen heeft kunt u contact met mij opnemen. Mijn atelier is gevestigd in Gouda.
    section.middle
      p E-mail adres: info@atelierfemkeboschker.nl
      p Telefoonnummer: 06-53581785
    section.right
      
      
