extends layout

block content
  div.content.clearfix
    h1.head contact
    section.left
      p Als u een afspraak wilt maken voor een opdracht of andere vragen heeft kunt u contact met mij opnemen. Mijn atelier is gevestigd in Gouda.
    section.middle
      p emailadres: info@atelierfemkeboschker.nl
      p telefoonnummer: 06-19195884
    section.right


