extends layout

block content
  div.content.clearfix
    h1.head cursussen
    section.txt
      p
        | Ik ben docent edelsmeden bij <strong>kade40</strong> (voorheen de Vrije Academie) in Vlaardingen.
        | Deze cursus edelsmeden is zowel voor de beginnende als de gevorderde cursist.
      ul
        li De cursus wordt gegeven op maandag en woensdagavond van 19.30 u tot 22 u.
        li De cursus bestaat uit 26 lessen.
        li De cursus is reeds gestart op 16 september,nieuwe instroom is mogelijk op woensdagavond 8 januari 2014.
        li De kosten zijn € 240,- ( excl. materiaal)
        li Gereedschap is aanwezig en materiaal kan tijdens de les gekocht worden.
      p Voor meer informatie verwijs ik u naar:&nbsp;
        a(href="http://kade40.nl/docenten/femke-boschker") www.kade40.nl/docenten/femke-boschker
    section.txt
      h2 opzet van de cursus
      p
        | Tijdens de cursus edelsmeden leert u van mij verschillende technieken van dit prachtige vak.
        | Theorie van de technieken krijgt u van mij op papier zodat deze nagelezen kunnen worden.
      p
        | Om kennis te maken met de basistechnieken heb ik twee start opdrachten.
        | De eerste opdracht wordt in onedel metaal uitgevoerd, bij de tweede opdracht kunt u ook in zilver gaan werken.
        | Naast de gebruikte technieken speelt de vormgeving ook een belangrijke rol. Tijdens een derde opdracht wordt hier extra aandacht aangegeven.
    section.txt
      h2 gevorderden
      p
        | Voor gevorderden heb ik verschillende opdrachten waar aan deel genomen kan worden, waarbij vanuit een thema of techniek gewerkt wordt.
        | Er is ook veel ruimte voor het ontwerpen en vervaardigen vanuit eigen idee, waarbij ik u graag begeleid zodat de techniek en ideeontwikkeling verdiept worden.
        | Tijdens de cursus kies ik ook een of twee momenten om een extra (versierings)technieken onder de aandacht te brengen.
      h2 workshops
      p
        | Tevens  geef ik  workshops in een mooi atelier in hartje Rotterdam.
        | Heeft u samen met een aantal bekenden ( max 8 personen) interesse in een  workshop op maat, neem dan contact met mij op.
