include mixins

//a(name='top')
header#top.clearfix
  a.icon.menu(href='#footer')
  a.icon.image-logo(href='/')
    img(src='/images/logo.png')
  a(href='/')
    div.word-logo
      span.name Atelier
      span.name Femke Boschker
      br
      span.sub.zeta SIERADEN







