extends layout

block content
  div.content.clearfix
    section.left
      p.subtitle Eigenzinnige sieraden met een warme uitstraling en een bepaalde mate van eenvoud
    section.middle
      div.swipe-container
        ul#js-swiper.swipe-list
            each sieraad in sieraden
                li.swipe-item
                    //a(href=sieraad.url)
                    img(src="/images/320/" + sieraad.foto.src)
    section.right
      //h1 actueel


block script
    script
        (function () {
            var slider = require('fluid-slider');
            var slideEl = document.getElementById('js-swiper');
            var breakpointItems = {
                0: 1,
                500: 2,
                800: 3,
                1200: 4
            };
            if (slideEl) {
                slider(slideEl, {breakpointItems: breakpointItems}).swiper.play();
            }
        } ());
