extends layout

block content
  div.content.clearfix
    h1 voorwaarden, privacy en intellectueel eigendom
    div.col1
      section
        h2 algemene voorwaarden
        p fsfsdf
    div.col2
      section
        h2 privacy
        p fsfsdf
    div.col3
      section
        h2 intellectueel eigendom
        p fsfsdf
      
