extends layout

block content
  div.content.clearfix
    h1.head webshops
  section.left
    a(href="http://www.platero.nl/marketplace/seller/profile/atelierfemkeboschker") 
        img(src="http://www.platero.nl/afbeeldingen/leden_logo/logo_licht.png", alt="Bekijk de sieraden van atelier Femke Boschker op Platero.nl")
        
  section.middle
    a(href="http://atelierfemkeboschker.markita.nl/") 
        img(src="http://markita.nl/skin/frontend/default/markita/images/logo-trans.png", alt="Bekijk de sieraden van atelier Femke Boschker op markita.nl")
