extends layout

block content
  div.content.clearfix
    section.left
      h1 cursussen
      p Ik ben docent edelsmeden bij Kade 40 ( voorheen de Vrije Academie) in Vlaardingen.
      p Tijdens de cursus edelsmeden leert u van mij verschillende technieken van dit prachtige vak.
      | Het vervaardigen van sieraden, maar ook het maken van ruimtelijke objecten of gebruiksvoorwerpen horen bij dit ambacht.
      | Het vormgeven komt ruim aan bod.
      |Er is veel ruimte voor het maken van eigen ontwerpen.
      p Ik heb verschillende uitdagende opdrachten waar aan deel genomen kan worden, waarbij vanuit een thema of techniek gewerkt wordt.
    section.middle
        p
          ul
              li De cursus wordt gegeven op maandag en woensdagavond van 19.30 u tot 22 u.
              li De cursus bestaat uit 26 lessen en start weer op 16 en 18 september 2013.
              li De kosten zijn € 240,- ( excl. materiaal)
              li Gereedschap is aanwezig en materiaal kan tijdens de les gekocht worden.
        p Voor meer informatie verwijs ik u naar:
            a(href="https://www.kade40.nl")
                www.kade40.nl
    section.right
      p Tevens  geef ik  workshops in een mooi atelier in hartje Rotterdam.
      | Heeft u samen met een aantal bekenden ( max 8 personen) interesse in een  workshop op maat, neem dan contact met mij op.

      
