extends layout

block content
  div.content.clearfix
    section.left
      p Femke volgde de opleiding goudsmeden en een extra jaar zilversmeden aan de Vakschool in Schoonhoven. Na een aantal jaren gewerkt te hebben als goudsmid wilde zij zich verder ontwikkelen en haar beeldend vermogen vergroten. Daarom volgde zij de opleiding docent beeldende kunst en vormgeving aan de Hoge School voor de Kunsten in Utrecht.
    section.middle
      carousel(data-ng-app)
        a(href='#{image.imageOf}')
          figure.carousel
            img(src='#{image.src}', alt='#{image.alt}')
            figcaption= image.caption
    